#container {
 border-radius: 5px;
 margin: 10px;
 padding: 20px;
}

.details {
 display: flex;
 flex-direction: row;
 width: 100%;
 color: #000;
 margin-top: 10px;
 text-align: center;
 justify-content: center;
 align-items: center;
}

#search-details {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 width: 100%;
 color: #000;
 text-align: center;
}

#search {
 width: 250px;
 height: 30px;
 border: none;
 border-bottom-left-radius: 14px;
 border-bottom-right-radius: 14px;
 border-top-left-radius: 14px;
 border-top-right-radius: 14px;
 text-align: center;
}

#tenants {
 width: 55%;
 text-align: center;
 color: #000;
}

.col-right {
 display: inline-block;
 border: none;
 width: 15%;
 text-align: left;
 margin: 0px 10px;
 /* background-color: rgb(140, 140, 235); */
 color: #fff;
 padding: 7px;
 width: 75px;
 border-radius: 5px;
}

.col-left {
 color: #fff;
 border: none;
 height: 30px;
 width: 100px;
 font-size: medium;
 font-weight: bold;
 border-radius: 5px;
 display: inline-block;
 background-color: rgb(140, 140, 235);
}

#btn {
 font-size: smaller;
 width: 72%;
 margin-top: 100px;
 display: flex;
 border: none;
 flex-direction: row;
 justify-content: right;
}

#btnreg {
 background-color: rgb(123, 182, 123);
 color: #fff;
 border: none;
 border-radius: 6px;
 padding: 7px;
}

#btnsearch {
 height: 3px;
 border: none;
 color: #000;
 margin-left: 0px;
 /* padding-right: 15px; */
 background-color: #fff;
 border-bottom-right-radius: 14px;
 border-top-right-radius: 14px;
}

.trashio {
 font-size: 20px;
 color: #000;
 margin-left: 0px;
  background-color: rgb(204, 218, 204);
}
.form-elect-inputa {
  display: inline;
  text-align: left;
  margin-right: 5px;
  height: 30px;
  border: none;
  padding: 10px;
  width: 250px;
  border-radius: 5px;
}