#nav-link {
 color: #fff;
 margin-right: 30px;
 text-decoration: none;
}

.topiconcolor {
 padding: 5px;
 border-radius: 25px;
 color: rgb(156, 235, 233);
 background-color: #fff;
}

.topsection {
 display: flex;
 text-align: center;
 align-items: center;
}

.topfeature {
 text-align: left;
 margin-left: 10px;
}

#midnav {
 background-color: #fff;
 text-align: center;
 padding: 80px;
 width: 100%;
}

.text {
 font-size: medium;
}

#register {
 background-color: rgb(140, 140, 235);
 color: #fff;
 width: 100px;
 padding: 10px;
 border: none;
 border-radius: 5px;
}

#footer {
 display: flex;
 flex-direction: row;
 text-align: center;
 align-items: center;
 justify-content: space-around;
}

#leftfooter {
 display: flex;
 flex-direction: row;
 text-align: left;
}

#rightfooter {
 display: flex;
 flex-direction: row;
 text-align: right;
}

.info {
 color: #000;
 text-decoration: none;
 margin-right: 7px;
}

.iconcolor {
 margin: 10px;
 padding: 5px;
 border-radius: 25px;
 color: rgb(204, 218, 204);
 background-color: rgb(125, 137, 125);
}