#container {
 border-radius: 5px;
 margin: 10px;
 padding: 20px;
 width: 55%;
}

#registration {
 display: flex;
 flex-direction: column;
 border-radius: 6px;
 border: 1px solid grey;
 margin: 20px;
 padding: 30px;
 width: 100%;
}

#btn {
 margin-top: 10px;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
}

#cancel {
 background-color: rgb(187, 209, 187);
 color: #fff;
 padding: 10px;
 border: none;
 border-radius: 5px;
}

#register {
 background-color: rgb(140, 140, 235);
 color: #fff;
 padding: 10px;
 border: none;
 border-radius: 5px;
}

.details {
 width: 100%;
 display: flex;
 color: #000;
 font-size: medium;
 font-weight: 400;
 margin-top: 10px;
 flex-direction: row;
 justify-content: space-between;
}

.form-elect-input {
 display: inline;
 text-align: left;
 height: 30px;
}

.col-right {
 display: inline;
 text-align: left;
 height: 30px;
}

.col-leftr {
 display: inline-block;
 width: 45%;
 text-align: left;
 margin-right: 10px;
}